h1 {
    text-align: center;
    color: rgba(21, 241, 175, 0.912);
}

nav {
    background-color: rgb(46, 6, 247);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: rgb(149, 251, 222);
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(245, 151, 220);
    text-decoration: none;
}

body {
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}